/* styles.css */
#root {
    padding: 0px;
}

.app-container {
    display: flex;
}

.barre-de-menu {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--color-primary);
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.barre-de-menu > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top {
    gap: 2rem;
}

a {
    display: block;
    color: unset;
    text-decoration: unset;
}

.logo-band {
    width: 100%;
    max-height: 80px;
    object-fit: contain;
}

.onglets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.onglet {
    object-fit: contain;
    color: var(--color-font);
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    transition: color 0.3s;
}

.feather.onglet:hover {
    color: #429bdb;
}

.profil-section {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--color-light)eeeaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.logo-session {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

 .section-status-hidden {
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 1px 4px;
    min-height: 125px;
}
.status-info{
    margin: auto;
    height: 100%;
}
.status {
    padding: 1em;
    max-height: 70vh;
    overflow: scroll;
}