.fc {
    display: flex;
    flex-direction: column;
}

.fr {
    display: flex;
    flex-direction: row;
}

.ai-c {
    align-items: center;
}

.ai-fs {
    align-items: flex-start;
}

.g0-5 {
    gap: 0.5rem;
}

.g1 {
    gap: 1rem;
}

.g3 {
    gap: 3rem;
}

.g4 {
    gap: 4rem;
}

.fw-w {
    flex-wrap: wrap;
}

.fw-nw {
    flex-wrap: nowrap;
}

.jc-c {
    justify-content: center;
}

.jc-fs {
    justify-content: flex-start;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.o0-5{
    opacity: 0.5;
}

.ta-c{
    text-align: center;
}

.ta-l{
    text-align: left;
}
.w-100{
    width: 100%;
}