/* 
Author: @mathis-lambert
Date: Janvier 2024
*/

.chat-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 50px;

  .chat-input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    line-height: 0;
    border-radius: 1rem;
    color: #555;
    background-color: var(--color-light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    &::placeholder {
      color: #aaa;
      line-height: 1;
    }
  }

  .chat-send {
    border: none;
    outline: none;
    background-color: var(--color-primary);
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1;
    transition: background-color 0.25s;
    border-radius: 50%;
    position: relative;

    svg {
      width: 20px;
      height: 20px;
      color: var(--color-font);
      transition: color 0.25s;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-54%, -46%);
    }

    &:hover {
      background-color: var(--color-light);

      svg {
        color: var(--color-primary);
      }
    }

    &:active {
      background-color: #245F7D;

      svg {
        color: var(--color-font);
      }
    }
  }
}
