/* styles.css */

.profil-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 50px;
}

.card, .choices-card {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.overlay-logo {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.onglets-overlay {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.onglets-overlay a {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}


.info-container
{
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: #dddddd80;
  border-radius: 5px;
  width: 210px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: black;
    margin-top: -25px;
}
.statut-indicateur.connecte
{
  border-radius: 50%;
  border: 10px solid green;
  width: 1px;
  top: 65px;
  position: relative;
  left: 30px;
}
.statut-indicateur.deconnecte
{
    border-radius: 50rem;
    background-color: red;
    width: 20px;
    height: 20px;
}

.statut-connexion.connecte
{
  border-radius: 50rem;
  background-color: green;
  width: 20px;
  height: 20px;
}
.statut-connexion.deconnecte
{
    border-radius: 50%;
    border: 8px solid red;
    width: 1px;
    top: 23px;
    position: relative;
    left: 50px;
}