.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.message p {
    margin: 0;
}
.message .content{
    padding: 0.8rem ;
    border-radius: 5px;
    text-align: justify;
}
.message .profile-picture-and-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.message .profile-picture{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: #6b6b6b;
    overflow: hidden;
    flex-shrink: 0;
}
.message .time-and-status{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

/* Style pour les messages de l'utilisateur courant */
.message.current-user {
    align-self: flex-end;
    align-items: flex-end
}
.message.current-user .content{
    background-color: #429BDB;
}
.message.current-user .profile-picture{
    display: none;
}


/* Style pour les messages des autres utilisateurs */
.message:not(.current-user) {
    align-self: flex-start;
    align-items: flex-start
}
.message:not(.current-user) .content {
    color: black;
    background-color: #F4F5F9;
}
.message:not(.current-user) .status {
    display: none;
}
