@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #234457;
  --color-primary-light: #2f5f8f;
    --color-primary-dark: #1a3a5f;
  --color-light: #f9f9f9;
  --color-dark: #1a1a1a;
  --color-font: rgba(255, 255, 255, 0.87);
  --color-font-secondary: rgba(255, 255, 255, 0.6);
}

*,
::before,
::after {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #191919;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  color: rgb(34, 58, 106);;
}

p {
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:hover {
    border-color: #1a1a1a;
    background-color: #4A4A4A;
  }
}


img {
  max-width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.g0-5 {
  gap: 0.5rem;
}

.g1 {
  gap: 1rem;
}

.g3 {
  gap: 3rem;
}

.g4 {
  gap: 4rem;
}

.fw-w {
  flex-wrap: wrap;
}

.fw-nw {
  flex-wrap: nowrap;
}

.jc-c {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.o0-5 {
  opacity: 0.5;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.ma {
  margin: auto;
}
